@import "./variable";

body {
    &[data-topbar=dark] {
        #page-topbar {
            background-color: $primary;
        }
    }

    &[data-layout=horizontal] {
        #page-topbar {
            .navbar-header {
                max-width: calc(100% - 30px);

                @include md {
                    max-width: 100%;
                    padding: 0;
                }
                .dropdown-item{
                    a{
                        color: $dark;
                    }
                    &:hover{
                        a{
                            color: $primary;
                        }
                    }
                }
                .dropdown-menu-top{
                    > .dropdown-menu > .green > .dropdown-item {
                        a{
                            color: $white;
                        }
                        &:hover{
                            a{
                                color: $white;
                            }
                        }
                        .btn-group{
                            .dropdown-item{
                                a{
                                    color: $dark;
                                }
                                &:hover{
                                    a{
                                        color: $primary;
                                    }
                                }
                            }
                        }
                    }
                    .dropdown-item{
                        a{
                            color: $primary;
                        }
                        &:hover{
                            a{
                                color: $primary;
                            }
                        }
                    }
                }
            }
        }

        .container-fluid {
            max-width: calc(100% - 30px);

            @include md {
                max-width: 100%;
            }
        }

        .page-content {
            @include xl {
                padding-top: 80px;
            }
        }
    }
}

a {
    &:hover {
        color: $primary;
    }
}

//custom css
.avatar-xs {
    min-width: 2rem;
}

.avatar-sm {
    min-width: 3rem;
}

.cursor-pointer {
    cursor: pointer;
}

.text-theme {
    color: $primary;
}
.text-success{
    color: $primary !important;
}

.semi-bold {
    font-weight: 700 !important;
}

.page-filters {
    &.page-heading {
        .navbar-brand {
            font-size: 18px;
            font-weight: 500;
        }
    }
}

.filters {
    .col-sm-3 {
        margin-bottom: 15px;
    }
}

.custom-pagination {
    .pagination {
        padding-left: 0;
    }
}

.form-check {
    .form-check-input {
        &.report-switch {
            width: 3rem;
            height: 1.5rem;
        }
    }
}

.no-data {
    padding: 20px;
    background-color: #eff2f7;
    position: relative;
    height: 45px;

    td {
        position: absolute;
        width: 100%;
        text-align: center;
    }
}

.accordion-item {
    &:first-of-type {
        .accordion-button {}
    }

    &.dashboard-accordion {
        border: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color) !important;
        border-radius: 0.25rem;
    }
}

.multiselect {
    box-shadow: none !important;

    &.is-active {
        box-shadow: none !important;
    }

    .multiselect-search {
        font-size: 13px;
        color: $dark;
    }

    .multiselect-tag {
        background-color: $primary;
        font-weight: 500;
        font-size: 12px;
    }

    .multiselect-option {
        font-size: 14px;

        &.is-selected {
            background: $primary;
            color: $white;

            &:hover {
                background: $primary;
                color: $white;
            }
        }
    }

    .multiselect-dropdown {
        overflow: auto;
        max-height: 134px;
    }

    &.multi-table {
        .multiselect-tag {
            padding: 0;
            background-color: transparent;
            color: $primary;
            width: 100%;

            table {
                width: 100%;

                td {
                    text-transform: capitalize;

                    &:first-child {
                        color: $grey;
                    }
                }
            }
        }
    }
}

.radius-50 {
    border-radius: 50%;
}

.bg-success {
    background-color: $primary !important;
}

.btn-success {
    background-color: $primary;
    border-color: $primary;

    &:hover {
        background-color: rgba($primary, 0.7);
        border-color: rgba($primary, 0.7);
    }
}

.h-36 {
    height: 36px;
}

.w-36 {
    width: 36px;
}

//navbar
.megamenu-list {
    li {
        a {
            &:hover {
                color: $primary;
            }
        }
    }
}

.topnav {
    .navbar-nav {
        .nav-item {
            
            &:first-of-type {
                @include xl {
                    .nav-link {
                        padding-left: 1rem;
                    }
                }
            }

            &.active {
                .dropdown-toggle {
                    color: $primary !important;
                }
            }
        }

        .dropdown-item {
            color: $secondary !important;

            &.green {
                background-color: $primary;
                color: $white !important;
            }
        }

        .nav-link {
            font-size: 13px;
            &:focus,
            &:hover {
                color: $primary !important;
            }

            @include xxl {
                padding-right: 0;
                padding-left: 12px;
            }
        }
    }
}

.dropdown-menu-top {
    .dropdown-menu {
        .dropdown-item {
            a {
                color: $dark;
            }

            &:hover {
                a {
                    color: $primary;
                }
            }

            .btn-group {
                width: 100%;

                button[data-bs-auto-close="outside"] {
                    text-align: left;
                    width: 100%;
                    border: 0;
                    background-color: transparent;
                    padding: 0;

                    &.show {
                        color: $primary;
                    }
                }

                .dropdown-item {
                    a {
                        color: $dark;
                    }

                    &:hover {
                        a {
                            color: $primary;
                        }
                    }
                }
            }
        }

        .green {
            margin-bottom: 2px;

            .dropdown-item {
                background-color: $primary;
                color: $white;

                a {
                    color: $white;
                }

                .btn-group {
                    button[data-bs-auto-close="outside"] {
                        color: $white;

                        &.show {
                            color: $white;
                        }
                    }

                    .dropdown-item {
                        background-color: $white;
                        color: $primary;

                        &:hover {
                            background-color: rgba($primary, 0.05);
                            color: $primary;
                        }
                    }
                }
            }
        }
    }
}

.dropdown,
.dropdown-menu {
    .dropdown-item {

        &:hover,
        &.active {
            color: $primary !important;
            background-color: rgba($primary, 0.05);
        }

        &.text-danger {

            &:hover,
            &.active {
                color: $danger !important;
                background-color: rgba($danger, 0.05);
            }
        }
    }

    &.active {
        >a {
            color: $primary !important;
        }

        &.nav-item {
            >a {
                color: $secondary !important;
            }
        }
    }
}

#modal-search {
    .modal-dialog {
        max-width: calc(100% - 40px);

        .modal-content {
            border: 0;

            .modal-header {
                background-color: $primary;

                .modal-title {
                    color: $white;
                }

                .btn-close {
                    color: $white;
                    filter: brightness(0) invert(1);
                    opacity: 1;
                }
            }

            .app-search {
                max-width: 1000px;
                margin: auto;

                .form-control {
                    background-color: rgba($primary, 0.2);
                    color: $primary;
                    min-height: 46px;

                    &::placeholder {
                        color: $primary;
                    }
                }

                span {
                    color: $primary;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    height: 36px;
                    font-size: 22px;
                }
            }

            .expand-btn {
                font-weight: bold;
                width: auto;
                margin-right: 20px;
                margin-left: auto;
                display: inherit;
                margin-bottom: 15px;
            }

            .accordion {
                display: flex;
                flex-wrap: wrap;

                .accordion-item {
                    border: 0;
                    width: calc(25% - 8px);
                    margin-bottom: 18px;

                    .accordion-button {
                        background-color: transparent;
                        box-shadow: none;
                        padding-bottom: 0;
                        color: $black;
                        font-weight: 600;
                    }

                    .accordion-body {
                        padding-top: 8px;

                        ul {
                            padding: 0;
                            margin-bottom: 25px;

                            li {
                                list-style: none;
                                margin-bottom: 2px;

                                a {
                                    color: $grey;

                                    &:hover {
                                        color: $primary;
                                    }

                                    &.green {
                                        color: $primary;
                                    }
                                }
                            }
                        }
                    }

                    @include lg {
                        width: calc(33% - 8px);
                    }

                    @include md {
                        width: calc(50% - 8px);
                    }

                    @include sm {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.navbar-brand-box {
    .logo-lg {
        display: flex;
        align-items: center;

        img {
            margin-right: 8px;
            height: 40px;
        }

        span {
            color: $white;
            font-size: 13px;
        }
    }
}

.router-link-active {
    width: 100%;
    display: flex;
    align-items: baseline;
    color: $primary;

    i {
        margin-right: 5px;
    }
}

//dashboard
.dashboard-main {
    .list-group {
        &.dashboard-list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-bottom: 25px;
            gap: 8px;

            .list-group-item {
                display: inline-block;
                width: calc(25% - 6px);
                padding: 2px 15px;

                .router-link-active {
                    width: 100%;
                    display: flex;
                    align-items: baseline;
                    color: $primary;

                    i {
                        margin-right: 5px;
                    }
                }

                @include xl {
                    width: calc(33.33% - 4px);
                }

                @include md {
                    width: calc(50% - 3px);
                }

                @include sm {
                    width: 100%;
                }
            }

            @include xl {
                gap: 6px;
            }
        }
    }

    .accordion-item .accordion-button {
        color: $primary !important;
        background-color: rgba($primary, 0.05);
    }

    .dashboard-content {
        .bitcoin-row {
            .card {
                height: calc(100% - 24px);

                .card-body {
                    >.text-theme {
                        display: flex;
                    }
                }

                .card-title {
                    background-color: $primary;
                    color: $white;
                    margin-bottom: 0;
                    padding: 10px;
                    border-radius: 0.25rem 0.25rem 0 0;
                }

                h5 {
                    font-size: 28px;
                    text-align: center;
                }

                .charts {
                    display: none;
                }
            }
        }

        .chart-row {
            .card-body {
                padding: 0;

                .card-body {
                    padding: 20px;
                }

                .chart-padding {
                    padding: 20px;
                }
            }

            .card-title {
                background-color: $primary;
                color: $white;
                margin-bottom: 0;
                padding: 15px;
                border-radius: 0.25rem 0.25rem 0 0;
            }
        }
    }
}

//custom layout
.custom-layout {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    position: relative;
    @include custom_scroll;

    .card {
        height: calc(100% - 24px);
        width: 100%;
    }

    .filter-content {
        min-width: 250px;
        display: none;
        // @include lg{
        //     position: absolute;
        //     left: 0;
        //     max-width: 200px;
        //     height: 100%;
        // }
    }

    .table-content {
        width: 100%;
        display: block;
        overflow: auto;
    }

    .info-box {
        min-width: 200px;
        display: none;
    }

    >*.active {
        display: block;
    }

    @include lg {
        flex-direction: column;
        gap: 0;
    }
}

.search-box {
    width: 200px;

    .form-control {
        padding-right: 40px;
        padding-left: 10px;
    }

    .btn {
        min-width: 36px;
        min-height: 36px;
        border-radius: 50%;
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 0;
        position: absolute;
        right: 8px;

        .bx {
            margin: 0 !important;
        }
    }

    @include lg {
        width: 100%;
    }
}

.modal {
    &.green-header {
        .modal-content {
            border: 0;

            .modal-header {
                background-color: $primary;

                .modal-title {
                    color: $white;
                }

                .btn-close {
                    color: $white;
                    filter: brightness(0) invert(1);
                    opacity: 1;
                }
            }
        }
    }

    &.delete-modal {
        .modal-content {
            border: 0;

            p {
                font-size: 16px;
            }

            .btn-danger {
                background-color: $danger;
            }
        }

        .modal-header {
            background-color: $danger;

            .modal-title {
                color: $white;
            }

            .btn-close {
                color: $white;
                filter: brightness(0) invert(1);
                opacity: 1;
            }
        }
    }
}

.table-green {
    &.table {
        th {
            background-color: $primary;
            color: $white;
        }
    }
}

//charts of account
.filter-btns {
    .btn {
        margin-right: 5px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.export {
    margin-bottom: 15px;
    margin-top: 0 !important;
    position: absolute;
    top: 20px;
    right: 0;
    margin-right: 110px;
}

.export-btn {
    //float: left;
    margin-bottom: 10px;
}

.search-table {
    max-width: 250px;
    margin-right: auto;
    float: left;

    @include md {
        float: unset;
    }
}

.action-buttons {
    float: right;

    @include md {
        float: unset;
    }
}

.pagination {
    .page-item {
        &.active-page {
            background-color: transparent !important;

            .page-link {
                background-color: $primary;
                color: $white;
            }
        }

        &.disabled {
            .page-link {
                background-color: rgba($primary, 0.5) !important;
                border: 1px solid rgba($primary, 0.10) !important;
            }
        }

        .page-link {
            border: 1px solid $primary;
            outline: none;
            box-shadow: none;
        }

        &:first-child,
        &:last-child {
            .page-link {
                background-color: $primary;
                color: $white;
            }
        }
    }
}

.filters {
    margin-bottom: 50px;
}

.add-item {
    display: flex;
    align-items: flex-end;
    gap: 10px 5px;
    //overflow: auto;
    margin-bottom: 15px;

    //@include custom_scroll();
    .form-control {
        //min-width: 125px;
    }
}

.add-item-footer {
    text-align: right;
}

//custom-table
.custom-table {
    overflow-x: auto;
    width: 100%;
    @include custom_scroll;

    table {
        width: 100%;
    }
}

//report-table
.report-table {
    width: 100%;
    overflow-x: auto;

    tr {

        th,
        td {
            padding: 5px 0;

            &.border-bottom {
                border-color: $grey !important;
            }
        }

        td {
            p {
                margin-bottom: 0;
            }
        }
    }

    .balance-table {
        max-width: 700px;

        td,
        th {
            vertical-align: top;

            &:last-child {
                text-align: right;
            }
        }
    }

    .budget-table {

        th,
        td {
            padding: 8px 10px;
            border: 1px solid $white !important;

            &.border-bottom {
                border-color: $white !important;
                border-bottom: 1px solid $grey !important;
            }
        }

        tbody {
            tr {
                &:nth-of-type(odd) {
                    background-color: rgba($grey, 0.1);
                }
            }
        }

        &.trial-table {
            th {
                padding-top: 15px;
            }

            td {
                &.td-bg {
                    text-align: center;
                    background-color: rgba($grey, 0.1);
                    font-weight: 700;
                }
            }
        }
    }

}

.filter-column {
    float: left;
}

.add-items {
    display: inline-block;
    width: 100%;

    .add-item {
        width: 100%;
    }
}

#filter-column {
    +.dropdown-menu {
        &.show {
            max-height: 200px;
            overflow-y: auto;
        }

        .dropdown-item {
            .form-check-input {
                &:checked {
                    background-color: $primary;
                }

                &:focus {
                    box-shadow: 0 0 0 0.15rem rgba($primary, 0.25);
                }
            }

            .form-check-label {
                width: 100%;
            }

            &:hover {
                background-color: transparent;
                color: $dark !important;
            }
        }
    }
}

//Landing Page
.landing-main {

    .landing-content {
        .custom-container {
            padding: 0 calc(24px / 2) 60px calc(24px / 2);
            max-width: calc(100% - 30px);
            margin: auto;

            .add-menu {
                display: flex;
                gap: 8px;
                .form-control,
                .multiselect {
                    max-height: 36px;
                    min-height: 36px;
    
                    .multiselect-wrapper {
                        max-height: 36px;
                        min-height: 36px;
    
                        .multiselect-search {
                            max-height: 34px;
                            top: 1px;
                        }
                    }
                    &.max-100{
                        max-width: 100px;
                    }
                }
                .checkbox-toggle{
                    width: 100%;
                }
                @include lg{
                    flex-wrap: wrap;
                }
                &.sub-menu{
                    flex-wrap: wrap;
                    .multiselect{
                        min-width: 220px;
                        max-width: 220px;
                        margin: 0;
                        &.max-100{
                            min-width: 100px;
                            max-width: 100px;
                        }
                    }
                    .form-control{
                        min-width: 150px;
                        max-width: 150px;
                    }
                }
            }
            .checkbox-toggle{
                display: flex;
                align-items: center;
                margin-bottom: 15px;
                input{
                    margin-right: 5px;
                }
                label{
                    margin-bottom: 0;
                }
            }
        }

        .landing-head {
            .card-body {
                background-color: $primary;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .landing-logo {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        max-width: 49px;
                        margin-right: 10px;
                        border-radius: 5px;
                        height: 50px;
                        object-fit: cover;
                    }

                    h1 {
                        margin-bottom: 0;
                        font-size: 23px;
                        color: $white;
                    }
                }

                .landing-dropdown {
                    .btn-group {
                        .header-item {
                            height: auto;
                            padding-top: 0;
                            color: $white !important;
                        }

                        .header-profile-user {
                            height: 36px;
                            width: 36px;
                        }
                    }

                    .dropdown-item {
                        a {
                            color: $dark;
                        }

                        &:hover {
                            a {
                                color: $primary;
                            }
                        }
                    }
                }
            }
        }

        .landing-body {
            min-height: calc(100vh - 135px);
            display: flex;
            align-items: center;

            .card {
                background-color: rgba($primary, 0.13);
                background-image: linear-gradient(to bottom, rgba($primary, 0.3) -20%, rgba($white, 0.3) 50%);
                border-radius: 5px;
                overflow: hidden;
                transition: 0.5s all ease;

                .card-body {
                    text-align: center;

                    .mdi {
                        font-size: 49px;
                        color: $primary;
                        transition: 0.5s all ease;
                    }

                    .card-title {
                        margin-bottom: 15px;
                        font-size: 20px;
                        color: $primary;
                        transition: 0.5s all ease;
                    }

                    .landing-content {
                        display: block;

                        a {
                            display: none;

                            &.btn {
                                min-width: 70px;
                            }
                        }
                    }
                }

                &:hover {
                    background-color: rgba($primary, 0.6);

                    i.mdi {
                        color: $white;
                    }

                    h4.card-title {
                        color: $white;
                    }
                }
            }
        }
    }
}

//login
.bg-success {
    &.bg-soft {
        background-color: rgba($primary, 0.25) !important;

        .text-success,
        &.text-success {
            color: $primary !important;
        }
    }
}
.account-pages {
    .bg-success {
        &.bg-soft {
            background-color: rgba($primary, 0.25) !important;

            .text-success {
                color: $primary !important;
            }
        }
    }
}

//users-list{
.users-list {
    .card {
        form {
            h6 {
                font-size: 14px;
                font-weight: 600;
                margin-bottom: 15px;
                padding: 6px 12px;
                background-color: $primary;
                color: $white;
            }

            .form-control {
                max-height: 36px;
            }

            .multiselect {
                max-height: 36px;
                min-height: 36px;

                .multiselect-wrapper {
                    max-height: 36px;
                    min-height: 36px;

                    .multiselect-search {
                        max-height: 34px;
                        top: 1px;
                    }
                }
            }

            .dp__input_wrap {
                .dp__input_icon_pad {
                    max-height: 36px;
                }
            }
        }
    }
}

//picture-input
.picture-input {
    >div {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;

        .preview-container {
            margin: 0 !important;
            margin-bottom: 15px !important;
            display: block;
            width: 100%;
            max-width: inherit !important;

            .picture-preview {
                max-width: 80px;
            }

            .picture-inner {
                top: -85px !important;
                max-width: 72px;
            }
        }

        .btn {
            max-height: 36px;
            margin-left: 16px;
            background-color: $primary;
            color: $white;
        }
    }
}

.user-card.card {
    box-shadow: 0 0px 8px rgba($primary, 0.5);
    .user-dob{
        display: inline-flex;
        width: auto;
        padding: 8px 9px;
        transition: 0.5s all;
        position: relative;
        &.bg-success.bg-soft{
            background-color: rgba(0, 109, 51, 0.15) !important;
            &:hover{
                background-color: rgba($primary, 0.15) !important;
                color: $primary !important;
            }
        }
        i{
            margin-left: 5px;
            position: absolute;
            top: -5px;
            left: -5px;
            margin: 0;
        }
    }
    .avatar-sm {
        border-radius: 5px;
        overflow: hidden;
    }

    .back-main {
        display: flex;
        font-size: 12px;
        align-items: center;
        .back-arrow {
            min-width: 26px;
            width: 26px;
            min-height: 26px;
            height: 26px;
            margin: auto;
            margin-right: 5px;
            border-radius: 50%;
            background-color: $primary;
            color: $white;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
//user-search
.user-search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .form-control{
        margin-right: 15px;
        max-width: 500px;
    }
    .filter-dropdown{
        display: flex;
        .form-select{
            margin-left: 5px;
            max-width: fit-content;
        }
    }
}

//menu-table
.menu-table{
    .export{
        display: none;
    }
}
.vue-html2pdf{
    .layout-container.show-layout{
        .content-wrapper{
            width: 100% !important;
        }
    }
}